@import '../../Public/sass/_mixin.scss';
@import '../../Public/sass/_styles.scss';

$color-inverse : #fff;
$gray-common : #666;
$brand-color: #d40c1c;
$color: #333;
$gutter: 15px;

@import 'common.scss';
@import '../../Public/sass/responsive.scss';


.navbar {
	min-height: 60px;
	line-height: 60px;
	.navbar-brand {
		padding: 0 15px;
		font-size: 24px;
		line-height: 60px;
		height: 60px;
		color: $color-inverse;
		a {
			display: block;
			height: 100%;
			img {
				vertical-align: middle;
				width: auto;
				max-width: 100%;
			}
		}
	}
}

.nav {
	&.navbar-nav {
		li { //一级
			a {
				&:hover,
				&:focus {
					color: $gray-common;
				}
			}
			&.active {
				a {
					background-color: $color-inverse;
					color: $gray-common;
					&:hover,
					&:focus {
						color: $gray-common;
					}
				}
			}
			&.open {
				ul li {
					&.active {
						a {
							color: $gray-common;
						}
					}
					>a {
						color: $color-dark;
					}
				}
			}
			
			//三级菜单样式
			>.dropdown-menu {//二级菜单
				>li { //二级
					position: relative;
					>.dropdown-menu {
						//三级菜单
						top: 0;
						left: 100%;
						margin-top: -6px;
						margin-left: -1px;
						-webkit-border-radius: 0 6px 6px 6px;
						-moz-border-radius: 0 6px 6px;
						border-radius: 0 6px 6px 6px;
						@include trans_1;
						>li {
							border-bottom: 0;
							&:hover {
								border-bottom: 0px;
							}
						}
						
					}
					
					&:hover {
						>.dropdown-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}

.navbar-toggle {
	background-color: lighten($gray-base , 59.9%);
	margin-top: 10px;
	margin-bottom: 19px;
	.icon-bar {
		background-color: $color-inverse;
	}
}

@media (min-width: 768px){
    .navbar {
        @include border-radius(0px);
    }
    .navbar-nav>li>a {
        padding-top: 20px;
		padding-bottom:20px;
		/* margin-left: 8px;
		margin-top: 8px;
		border: 1px solid lighten($brand-color,26%); */
    }
}

/* 区域标题 */
.block-title {
	display: block;
	margin-top: 4em;
	margin-bottom: 2em;
	position: relative;
	width: 100%;
	text-align: center;
	>.title {
		color: $color;
		font-size: 18px;
	}
	>.sub-title {
		font-size: 14px;
		color: $brand-color;
	}
	&.color-inverse {
		>.title,
		>.sub-title {
			color: $color-inverse;
		}
	}
}

.image {
	display: block;
	text-align: center;
	@include trans_1;
	padding-top: 4px;
	padding-bottom: 4px;

	img {
		margin: 0 auto;
		width: auto;
		max-width: 100%;
	}
}

.card {
	@include trans_1;
	text-align: center;
	background-color: $color-inverse;
	border-bottom: 3px solid transparent;
	margin: 2em auto;
	padding: 1em 0;
	>h3 {
		color: #596775;
		@include text-overflow;
	}
	>p {
		text-align: center;
		margin: 2em 0;
		height: 40px;
		overflow: hidden;
		@include clamp(2);
	}
	&:hover {
		border-bottom: 3px solid $brand-color;
		@include box-shadow(10px,10px);
		.btn-more {
			@include opacity(1);
			border: 1px solid $gray-common;
		}
	}
	.btn-more {
		@include opacity(0);
		@include trans_1;
	}
}

.case-detail {
	padding: 1em;
	.case-title {
		border-bottom: 1px solid lighten($gray-common, 13%);
		margin-bottom: 10px;
		h3 {
			display: inline-block;
			border-bottom: 2px solid $color;
			padding: 10px 0;
			margin-bottom: -1px;
		}
	}
	.case-body {
		text-align: center;
		img {
			margin: 2em auto;
		}
		p {
			text-align: left;
			text-indent: 2em;
			line-height: 30px;
		}
	}
}

.article_item {
	border: 1px solid lighten($gray-base,80%);
	padding: 2em 1em;
	margin-bottom: 1em;
	@include trans(0.3s,ease-in-out);
	@include border-radius(3px);
	&:hover {
		@include box-shadow;
	}
	.article-head {
		.year {
			font-weight: 600;
			margin-bottom: 5px;
		}
		.month-day {
			font-size: 24px;
			display: inline-block;
			border-bottom: 2px solid $color;
			padding-bottom: 10px;
		}
	}
	.article-body {
		.title {
			@include text-overflow;
		}
		.description {
			-o-text-overflow: ellipsis;
			-moz-text-overflow: ellipsis;
			-ms-text-overflow: ellipsis;
			@include clamp(2);
			color: lighten($gray-common,26%);
			height: 80px;
		}
		.link {
			text-decoration: underline;
		}
	}
	
}
.article-list {
	.article-items {
		@include clearfix;
		margin-top: 1em;
		padding-top: 1em;
		padding-bottom: 2em;
		margin-bottom: 1em;
		@include trans_1;
		&:hover {
			@include box-shadow(3px, 3px , 12px);
		}
		.img {
			float: left;
			width: 180px;
			height: 110px;
		}
		.article-content {
			margin-left: 205px;
			zoom: 1;
			overflow: hidden;
			.title {
				@include text-overflow;
				font-size: 1.17em;
				margin-top: 0;
			}
			hr {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.create-time {
				color: $gray-common;
			}
			p {
				@include text-overflow;
			}
		}
	}
	@media (max-width: 768px) {
		.article-items {
			/* .img {
				float: none;
				width: 100%;
				height: 110px;
			} */
			.img {
				display: none;
			}
			.article-content {
				margin-left: 0;
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}
}

.team-item {
	display: inline-block;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	padding: 1em;
	margin-top: 2em;
	@include trans;
	@include clearfix;
	&:hover {
		@include box-shadow(4px,4px, 13px)
	}
	
	.left-img {
		float: left;
		zoom: 1;
		width: 180px;
		background-color: $color-lighter;
		>img {
			width: auto;
			max-width: 100%;
		}
		h4,
		p {
			@include text-overflow;
			padding-left: 1em;
		}
		h4 {
			font-size: 16px;
			color: lighten($color, 13%);
		}
		p {
			color: $gray-common;
		}
		
	}
	.right-body {
		padding: 0 1em;
		zoom: 1;
		overflow: hidden;
		margin-left: 200px;
		.content {
			@include trans(0.5s);
			>p {
				height: 80px;
				overflow: hidden;
			}
		}
		&:hover {
			.content {
				transform: scale(0.9);
				-o-transform: scale(0.9);
				-ms-transform: scale(0.9);
				-moz-transform: scale(0.9);
				-webkit-transform: scale(0.9);
			}
		}
	}
	@media (max-width: 768px) {
		.left-img {
			width: 120px;
		}
		.right-body {
			margin-left: 140px;
		}
	}
}


.sys_message_01 {
    margin: 15px auto;
    >h3 {
        padding-left: 5px;
    }
    form {
        padding: 0 5px;
        >.box {
            line-height: 1.17em;
            margin-top: 15px;
            max-width: 100%;
            >p {
                font-size: 14px;
            }
            .input-box {
                >input {
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    min-width: 150px;
                    padding: 0 5px;
                    overflow: hidden;
                    border: 1px solid lighten($gray-base, 80%);
                    @include border-radius(3px);
                    @include box-sizing;
                    &:focus {
                        outline: 1px solid lighten(#0099ff,6.5%);
                    }
                }
                &.add-btn {
                    @include clearfix;
                    >input {
                        width: calc(100% - 140px);
                        width: -webkit-calc(100% - 140px);
                        width: -moz-calc(100% - 140px);
                        -webkit-border-radius: 3px 0 0 3px;  
                        -moz-border-radius: 3px 0 0 3px;  
                        -ms-border-radius: 3px 0 0 3px;  
                        -o-border-radius: 3px 0 0 3px;  
                        border-radius: 3px 0 0 3px;
                    }
                    a {
                        @include box-sizing;
                        text-decoration: none;
                        float: right;
                        padding-top: 0;
                        padding-bottom: 0;
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                        color: $gray-dark;
                        font-size: 14px;
                        text-align: center;
                        border: 1px solid lighten($gray-base, 80%);
                        border-left: none;
                        -webkit-border-radius: 0 3px 3px 0;  
                        -moz-border-radius: 0 3px 3px 0;  
                        -ms-border-radius: 0 3px 3px 0;  
                        -o-border-radius: 0 3px 3px 0;  
                        border-radius: 0 3px 3px 0;  
                    }
                }
                textarea {
                    @include border-radius(3px);
                    border: 1px solid lighten($gray-base, 80%);
                    font-family: "Microsoft Yahei";
                    width: 100%;
                    max-width: 100%;
                    padding: 5px;
                }
            }
            input[type="button"] {
                @include trans;
                background: $color-inverse;
                border: 1px solid lighten($gray-base,80%);
                height: 40px;
                line-height: 38px;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
                @include border-radius(3px);
                &:hover,
                &:focus {
                    background-color: lighten($gray-base,80%);

                }
            }
        }
    }
}
@media (max-width: 340px) {
    .sys_message_01 {
        form {
            >.box {
                .input-box {
                    &.add-btn {
                        >input {
                            width: 100%;
                        }
                        a {
                            margin-top: 10px;
                            float: none;
                            width: 100%;
                            border: 1px solid #cacaca;
                            border-top-left-radius: 3px;
                            -webkit-border-top-left-radius: 3px;
                            -moz-border-top-left-radius: 3px;
                            -ms-border-top-left-radius: 3px;
                            -o-border-top-left-radius: 3px;
                            -webkit-border-bottom-left-radius: 3px;
                            -moz-border-bottom-left-radius: 3px;
                            -ms-border-bottom-left-radius: 3px;
                            -o-border-bottom-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }
                    }
                }
                button {
                    display: block;
                    width: 100%;
                }
            }

        }
    }
}
.btn-link {
	border: 1px solid $color-inverse;
	color: $color-inverse;
	margin-right: 2em;
	margin-top: 2em;
	&:hover,
	&:focus {
		background-color: $color-inverse;
		color: $brand-color;
		text-decoration: none;
	}
}


.about-item {
	width: 100%;
	margin-bottom: 3em;
	.left-img {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 35%;
		img {
			@include trans_1;
			width: auto;
			max-width: 100%;
		}
		&:hover {
			img {
				margin-top: -3px;
			}
		}
		
	}
	.right-body {
		display: table-cell;
		width: 65%;
		padding: 1.17em;
		p {
			color: $gray-common;
			line-height: 24px;
		}
	}
	@media (max-width: 768px) {
		.left-body,
		.right-img {
			display: block;
			width: 100%;
		}
		
	}
}

.res-item {
	min-height: 110px;
	padding: 2em 0;
	p {
		color: $color-inverse;
		text-align: center;
		&.num {
			font-size: 16px;
		}
		&.intr {
			font-size: 14px;
		}
	}
}
.service-item {
	max-width: 385px;
	margin: 1em auto;
	.content {
		min-height: 269px;
		padding: 1em;
		color:$color-inverse;
		>p {
			line-height: 24px;
		}
		a {
			display: block;
			color: $color-inverse;
			margin-top: 2em;
		}
	}
}
.contact-box {
	display: table;
	width: 100%;
	margin: 2em auto;
	.left-img {
		display: table-cell;
		width: 45%;
		img {
			width: auto;
			max-width: 100%;
		}
	}
	.right-body {
		display: table-cell;
		padding: 3.5em;
		background-color: $brand-color;
		vertical-align: top;
		height: 100%;
		h3,
		p {
			color: $color-inverse;
		}
	}
}
.text {
	p {
		line-height: 24px;
		margin-bottom: 2em;
	}
}
/* 图片轮播 */
.sys_carousel_02 {
	position: relative;
	/*min-width: $container-width;*/ /*-----------响应式去掉此行即可-----------*/
	.content {
		position: relative;
		> * {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			&.active {
				position: relative;
				display: block;
			}
		}
		.carousel-item {
			text-align: center;
			width: 100%;
			.text-box {
				position: relative;
				text-align: center;
				margin-top: 0;
				padding: 0;
				padding-bottom: 2em;
				>h1 {
					font-size: 3.5em;
				}
				>h2 {
					font-size: 3em;
				}
				>h3 {
					font-size: 2.5em;
				}
				> p,
				span,
				em, {
					font-size: 1.17em;
				}
				>* {
					color: $gray-common;
				}
			}
		}
	}

	> .control{
        position: absolute;
        display: block !important;
        width: 48px;
        height: 60px;
        line-height: 60px;
        top: 50%;
        margin-top: -30px;
        background: rgba(255, 255, 255, .3);
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        color: $brand-color;
        @include border-radius(6px);

        &:hover {
            background: rgba($brand-color, 0.60);
            color: $color-inverse;
            cursor: pointer;
        }

        &.prev {
            left: 1em;
        }

        &.next {
            right: 1em;
        }
    }

	> .indicators{
		$orange : $brand-color;
        @include list-resets;
        position: absolute;

        bottom: 1em;
        left: 50%;

        > li {
            display: block;
            float: left;
            margin: 0 4px;
            cursor: pointer;
            height: 12px;
            width: 12px;
            background-color: $color-inverse;
            @include border-radius(50%);

            &.active {
                background-color: mix($orange, $color-inverse, 90%);
            }

            &:hover {
                background-color: darken($brand-color,13%);
            }
        }
    }
}

.carousel-liner {
	position: relative;
	/*min-width: $container-width;*/ /*-----------响应式去掉此行即可-----------*/
	.content {
		position: relative;
		> * {
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			&.active {
				position: relative;
				display: block;
			}
		}
		.carousel-item {
			.text {
				text-align: center;
				position: absolute;
				top: 20%;
				bottom: 0;
				left: 0;
				right: 0;
				text-align: center;
				width: 100%;
				>h1 {
					font-size: 3.5em;
				}
				>h2 {
					font-size: 3em;
				}
				>h3 {
					font-size: 2.5em;
				}
				> p,
				span,
				em, {
					font-size: 2em;
				}
				>* {
					color: $color-inverse;
				}
			}
		}
	}

	> .indicators{
        @include list-resets;
		@include clearfix;
        position: relative;
		text-align: center;
		padding: 1em 0px;

        > li {
            display: inline-block;
            margin: 0 4px;
            cursor: pointer;
            height: 6px;
            width: 30px;
            background-color: lighten($gray-common , 27%);

            &.active {
                background-color: mix($brand-color, $color-inverse, 60%);
            }

            &:hover {
                background-color: $brand-color;
            }
        }
    }
}

/* 图片轮播 end */

/* 文章详情 */
.article-detail {
	text-align: center;
	img {
		width: auto;
		max-width: 100%;
	}
	p {
		text-align: left;
		text-indent: 2em;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.article {
	&.article-horizontal {
		padding: 2em;
		.content {
			.title {
				color: $gray-common;
				line-height: 28px;
				@include text-overflow;
			}
			.sub-title {
				color: #949494;
				border-bottom: 1px solid #949494;
				padding-bottom: 8px;
				@include text-overflow;
			}
		}
		
	}
	/* article-vertical 水平*/
	.article-vertical {
		overflow: hidden;
		zoom: 1;
		margin-top: 1em;
		padding-top: 1em;
		padding-bottom: 2em;
		margin-bottom: 1em;
		@include trans_1;
		&:hover {
			@include box-shadow(3px, 3px , 12px);
		}
		>.article-image {
			display: table-cell;
			text-align: center;
			padding: 0 1em;
			img {
				display: block;
				width: 160px;
			}
		}
		>.article-body {
			width: 10000px;
			overflow: hidden;
			zoom: 1;
			display: table-cell;
			vertical-align: top;
			padding: 0 1em;
			.title {
				@include text-overflow;
				font-size: 1.17em;
				margin-top: 0;
			}
			hr {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.create-time {
				color: $gray-common;
			}
			.p {
				@include text-overflow;
				height: 40px;
			}
			.create-time {
				padding-right: 2em;
			}
		}
	}
}
.adv {
	position: relative;
	overflow: hidden;
	.adv-area {
		min-height: 220px;
		.content-area {
			padding: 30px 80px;
			.area-item {
				line-height: 30px;
				color: #596775;
				font-size: 16px;
				>.fa {
					margin-right: 8px;
					color: #ed7d1b;
				}
			}
		}
	}
}

.contact-item {
	width: 100%;
	margin-bottom: 3em;
	.left-img {
		display: table-cell;
		.border {
			width: 60px;
			height: 60px;
			line-height: 60px;
			text-align: center;
			@include border-radius(30px);
			border:1px solid $color-inverse;
			>.fa {
				color: $color-inverse;
				font-size: 24px;
			}
		}
		
	}
	.right-body {
		display: table-cell;
		vertical-align: top;
		padding-left: 2em;
		h4 {
			color: $color-inverse;
			font-size: 16px;
		}
		p {
			color: $color-inverse;
		}
	}
}

/* gallery */
.sys_gallery_01 {
	.gallery-4 {
		@include clearfix;
		@include box-sizing;
		.gallery-item {
			float: left;
			width: 25%;
			text-align: center;
			padding: 4px;
			>img {
				width: auto;
				max-width: 100%;
				vertical-align: middle;
			}
			>p.name {
				text-align: center;
				color: $color;
			}
		}
		>.gallery-mask {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			@include transparent-colors(background, rgba(#000,0.3), gray);
			&.active {
				display: block;
				z-index: 2;
			}
		}
		>.gallery-show {
			display: none;
			z-index: 2;
			position: fixed;
			top: 50%;
			left: 50%;
			text-align: center;
			padding-top: 4px;
			padding-bottom: 4px;
			background: $color-inverse;
			@include border-radius(4px);

			&.active {
				display: block;
			}
			img {
				width: auto;
				max-width: 100%;
				vertical-align: middle
			}
			>p.name {
				text-align: center;
				color: $color;
			}
		
			.control {
				position: absolute;
				display: inline-block;
				top: 50%;
				margin-top: -1.5em;
				padding: 0 8px;
				height: 3em;
				line-height: 3em;
				@include border-radius(4px);
				@include transparent-colors(background, rgba(#fff,0.3), #fff);
				color: $color-inverse;
				font-size: 2em;
				font-weight: bold;
				cursor: pointer;
				&:hover {
					color: lighten($gray-common, 13%);
					@include transparent-colors(background, rgba(#fff,0.7), #fff);
				}
				&.prev {
					left:1.5em;
				}
				&.next {
					right: 1.5em;
				}
			}
		}
	}
}
/* gallery end */

/* 高德地图 */
#amap {
	height: 360px;
	width: 100%;
	margin-bottom: 2em;
	}
.infowindow-content {
	.amap-info-header {
		text-align: center;
		background-color: #33AFFF;
		padding: 4px 0;
		color: $color-inverse;
	}
	.amap-info-body {
		padding: 4px 0;
		text-align: center;
	}
}
.amap-info-combo .keyword-input {
	line-height: 20px !important;
}

/* footer */
.copy-right {
	margin: 1em auto;
	text-align: center;
	span {
		color: #e2e2e2;
	}
}